body {
  background: rgb(251, 251, 251);
}

#sidebarMenu, .search_area {display: none! important;}

.account_info_container {
  width: 50%;
  margin-left: 25%;
  display: grid;
}

.form-add {
  width: 550px;
}

.form-add input {
  padding: 0 10px;
}

.form-add select {
  padding: 0 10px;
}

.account_info {
  width: 100%;
}

.account_summary {
  display: flex;
  justify-content: space-between;
}

#login_input, #password_input {height: 45px;}

.hit-input {
  width: 70%;
  border: 1px solid lightgrey;
}

.hit-input-textarea {
  min-height: 200px;
}

#checkbox_credit_allowed {
  margin: 1px 0 0 0;
}

#checkbox_comment {
  padding: 0 0 0 15px;
}

.read_only_inputfield {
  background: rgb(241, 241, 241);
}

.copy_button {
  border-radius: 5px !important;
  margin-bottom: 5px  !important;
  padding-top: 3px  !important;
  padding-bottom: 10px  !important;
}

.user_form_submit {
  height: 50px!important;
}

.instructions {
  margin-top: 10px!important;
}

.custom_alert {
  background: rgba(252, 109, 109, 0.542);
  color: red;
  font-weight: 500;
  border: 1px solid red;
  border-radius: 3px!important;
}

.navbar-toggler {display: none;}

@media screen and (max-width: 768px) {
  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .account_info_container {
    width: 60%;
    margin-left: 20%;
  }

  .account_summary {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .account_info_container {
    width: 70%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 500px) {
  .account_info_container {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 550px) {
  .hit-input {
    width: 60%!important;
  }

  .hit-fieldset {
    display: block;
  }
}
