#search_field {
    width: 93%!important;
}

#search_button {
    width: 7%!important;
    background: #383b40!important;
    border: 0;
    color: gray;
    cursor: pointer;
  }

  #search_button:active {
    background: grey!important;
    border: 0;
    color: black;
  }
