<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <p class="nav-link fw-bold">
          <a class="user_navbar">{{current_user.username}} - Project Name</a>
        </p>
      </li>
      {% if current_user.role.name in ["admin","project_manager"] %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.define_users')}}">
          <span data-feather="users"></span>
          Users
        </a>
      </li>
      {% endif %} {% if current_user.role.name == "admin" %}
      <li class="nav-item">
        <a class="nav-link">
          <span data-feather="layers"></span>
          Projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span data-feather="layers"></span>
          Reason of NON-COMPLETION
        </a>
      </li>
      {% endif %} {% if current_user.role.name == "project_manager" %}
      <li class="nav-item">
        <a class="nav-link">
          <span data-feather="layers"></span>
          Work Package
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span data-feather="layers"></span>
          Location
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span data-feather="layers"></span>
          Milestone
        </a>
      </li>
      {% endif %} {% if current_user.role.name == "wp_manager" %}
      <li class="nav-item">
        <a class="nav-link">
          <span data-feather="layers"></span>
          WP Milestone
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
