{% extends "base.html" %}

<!-- prettier-ignore -->
{% block application %}
  {% include 'define_nav.html'%}
  {% include 'flash.html' %} 
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
  {% if context == "users" %}
    {% include 'users.html' %}
  {% elif context == "projects" %}
    {% include 'projects.html' %}
    {#
    {% elif context == "work_packages" %}
    {% include 'work_packages.html' %}
    {% elif context == "projects" %}
    {% include 'users.html' %}
    {% elif context == "projects" %}
    {% include 'users.html' %}
    {% elif context == "projects" %}
    {% include 'users.html' %}
    #}
  {% endif %}
{% endblock %}
