<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      {% if current_user.role.name in ["admin","project_manager"] %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.define_users')}}">
          <img class="mainLogo" src= {{ url_for('static',
          filename='images/user.png') }} alt="info" border="0"/> Users
        </a>
      </li>
      {% endif %} {% if current_user.role.name == "admin" %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.define_projects')}}">
          <img class="mainLogo" src= {{ url_for('static',
          filename='images/project.png') }} alt="info" border="0"/> Projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.define_reasons')}}">
          <img class="mainLogo" src= {{ url_for('static',
          filename='images/reasons.png') }} alt="info" border="0"/> Reason of
          NON-COMPLETION
        </a>
      </li>
      {% endif %} {% if current_user.role.name == "project_manager" %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.define_work_packages')}}">
          <img class="mainLogo" src= {{ url_for('static',
          filename='images/wp.png') }} alt="info" border="0"/> Work Package
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.define_locations')}}">
          <img class="mainLogo" src= {{ url_for('static',
          filename='images/space.png') }} alt="info" border="0"/> Location
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.define_milestones')}}">
          <img class="mainLogo" src= {{ url_for('static',
          filename='images/milestone.png') }} alt="info" border="0"/> Milestone
        </a>
      </li>
      <!-- prettier-ignore-->
      <li class="nav-item">
          <a
            class="nav-link"
            href="{{url_for('main.import_milestones')}}"
          >
            <span class="mainLogo" data-feather="layers"></span>
            Import Milestones
          </a>
        </li>
      {% endif %} {% if current_user.role.name == "wp_manager" %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.define_wp_milestones')}}">
          <img class="mainLogo" src= {{ url_for('static',
          filename='images/milestone.png') }} alt="info" border="0"/> WP
          Milestone
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
