{% extends "base.html" %}

<!-- prettier-ignore -->
{% block application %}
  {% include 'define_nav.html'%}
  {% include 'flash.html' %} 
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
  {% if context == "users" %}
    {% include 'users.html' %}
  {% elif context == "viewer" %}
    {% include 'viewer.html' %}
  {% elif context == "wp_milestones" %}
    {% include "wp_milestones.html" %}
  {% elif context == "projects" %}
    {% include "projects.html" %}  
  {% elif context == "reasons" %}
    {% include "reasons.html" %}  
  {% endif %}
{% endblock %}
