<!-- Flash Messages -->
<!-- prettier-ignore -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
<div
  class="hit_flash d-flex justify-content-between alert alert-{{ category }} alert-dismisible"
>
  <div></div>
  <p>{{ message }}</p>
  <div class="flash_inner">
    <button
      type="button"
      class="close d-flex justify-content-center align-items-center me-3"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<!-- prettier-ignore -->
{% endfor %}
  {% endif %}
{% endwith %}
