<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a
    class="navbar-brand col-md-3 col-lg-2 me-0 px-3"
    href="{{ url_for('main.index') }}"
    >{{ config.APP_NAME }}</a
  >
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/define">Define</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Plan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Control</a>
    </li>
  </ul>
  <!-- <form class="search_area w-100 d-flex">
    <input
      id="search_field"
      class="form-control form-control-dark w-100"
      type="text"
      name="search"
      placeholder="Search"
      aria-label="Search"
    />
    <div
      id="search_button"
      class="d-flex justify-content-center alignitems-center"
    >
      <div class="mt-2 pt-1">
        <span data-feather="search"></span>
      </div>
    </div>
  </form> -->
  <div class="mobile_nav_row navbar-nav d-flex flex-row">
    <div class="mobile_balance_wrapper d-flex flex-row">
      <p style="color: white">{{current_user.username}}</p>
    </div>
    {% if current_user.is_authenticated %}
    <div id="sign_out" class="mobile_sign_out nav-item text-nowrap">
      <a class="nav-link px-3" href="{{ url_for('auth.logout') }}">Sign out</a>
    </div>
    {% else %}
    <div id="sign_out" class="mobile_sign_out nav-item text-nowrap">
      <a class="nav-link px-3" href="{{ url_for('auth.login') }}">Login</a>
    </div>
    {% endif %}
  </div>
</header>
