<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <p class="nav-link fw-bold">
          <a class="nav-link">PPC Type</a>
        </p>
      </li>
      <!-- prettier-ignore-->
      {% if current_user.role.name in ["wp_manager","project_manager","viewer"] %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('plan.info', ppc_type='info')}}">
          <!-- prettier-ignore-->
          <img  class="mainLogo" src= {{ url_for('static', filename='images/info.png') }} alt="info"  border="0"/> Info
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('plan.info', ppc_type='docs')}}">
          <!-- prettier-ignore-->
          <img  class="mainLogo" src= {{ url_for('static', filename='images/doc.png') }} alt="info"  border="0"/>
          Docs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('plan.info', ppc_type='quality')}}">
          <!-- prettier-ignore-->
          <img  class="mainLogo" src= {{ url_for('static', filename='images/quality.png') }} alt="info"  border="0"/>
          Quality
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('plan.info', ppc_type='atp')}}">
          <img class="mainLogo" src= {{ url_for('static',
          filename='images/atp.png') }} alt="info" border="0"/> ATP
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('plan.info', ppc_type='hod')}}">
          <img class="mainLogo" src= {{ url_for('static',
          filename='images/hod.png') }} alt="info" border="0"/> HOD
        </a>
      </li>
      {% endif %}
      <!-- prettier-ignore-->
      {% if current_user.role.name == "wp_manager" %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="{{url_for('plan.import_file', ppc_type='hod')}}"
        >
          <span class="mainLogo" data-feather="layers"></span>
          Import file
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
