{% extends 'base.html' %} {% block content %}
<div class="container py-4">
  <div class="card w-50 mx-auto">
    <div class="card-header">
      <h4 class="card-title">Add Reason</h4>
    </div>
    <div class="card-body">
      <form
        class="form"
        role="form"
        action="{{ url_for('reason.reason_add') }}"
        method="post"
      >
        <div class="form-group">
          {{form.name.label}} {{form.name(class='form-control')}} {% for error
          in form.errors.name %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        {{form.submit(class='btn btn-primary')}}
      </form>
    </div>
  </div>
</div>
{% endblock %} {{form.role(type="role", class='hit-input')}}
