<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead >
        <h3>{{work.reference}}</h3>
        <tr class="tableHeadTh">
          <th>Version</th>
          <th>Edited by</th>
          <th>Edit Date</th>
          <th>Planned Date</th>
          <th>Reason</th>
          <th>Responsible</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for version in plan_dates.items %}
        <tr>
          <td>{{version.version}}</td>
          <th>{{version.user.username}}</th>
          <td>{{version.created_at.strftime('%Y-%m-%d')}}</td>
          <td>{{version.date.strftime('%Y-%m-%d')}}</td>
          <td>{{version.reason}}</td>
          <td>{{version.responsible}}</td>
          <td class="versionNotes">{{version.note}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pagination d-flex justify-content-center">
    {% if query %} {% for page_num in plan_dates.iter_pages(left_edge=1,
    right_edge=1, left_current=2, right_current=3) %} {% if page_num %} {% if
    plan_dates.page == page_num %}
    <a
      class="page_button btn btn-dark mb-4 mx-1"
      href="{{ url_for('plan.work_version', query=query, page=page_num, work_id=work.id) }}"
      >{{ page_num }}</a
    >
    {% else %}
    <a
      class="page_button btn btn-outline-dark mb-4 mx-1"
      href="{{ url_for('plan.work_version', query=query, page=page_num, work_id=work.id) }}"
      >{{ page_num }}</a
    >
    {% endif %} {% else %}
    <a class="page_button btn btn-outline-dark mb-4 mx-1" href="#">...</a>
    {% endif %} {% endfor %} {% else %} {% for page_num in
    plan_dates.iter_pages(left_edge=1, right_edge=1, left_current=2,
    right_current=3) %} {% if page_num %} {% if plan_dates.page == page_num %}
    <a
      class="page_button btn btn-dark mb-4 mx-1"
      href="{{ url_for('plan.work_version', page=page_num, work_id=work.id) }}"
      >{{ page_num }}</a
    >
    {% else %}
    <a
      class="page_button btn btn-outline-dark mb-4 mx-1"
      href="{{ url_for('plan.work_version', page=page_num, work_id=work.id) }}"
      >{{ page_num }}</a
    >
    {% endif %} {% else %}
    <a class="page_button btn btn-outline-dark mb-4 mx-1" href="#">...</a>
    {% endif %} {% endfor %} {% endif %}
  </div>
</div>
</main>
